.App{
  display: flex;
  flex-flow: column;
  align-items: center; 
}

.App3{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 25px;
}

#time{
font-size: 45px;
}

button {
  display: flex;
  cursor: pointer;
  background-color: #d93c23;
  border-radius: 8px;
  color: white;
  padding: 5px;
  width: 80px;
  justify-content: center;
}

